#content{background-color:none;}
.faq{	font: 14px/18px helvetica, arial, sans-serif;
	color:#BBBBBB;}
dl.faq{
	margin-bottom:30px;
}

dl.faq dt{
	font-weight:bold;
	background-color: #476808;
	color:#ffffff;
	padding:5px;
	display:block;
	font-size: 20px;
}

dl.faq dd{
	margin-bottom: 21px;
	padding: 5px 20px;
	background-color: #C4DC97;
	color:#555555;
	border-bottom:1px solid #cccccc;
	display:block;
}
