:javascript
  $("#date_from").datetimepicker({language:"#{I18n.locale}"});
  $("#date_to").datetimepicker({language:"#{I18n.locale}"});
  $('.wysihtml5').wysihtml5();
  $('#dealTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
  })

