/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*= require bootstrap-wysihtml5
*/

body{
  padding: 60px 0 40px 0;
  .form-signin {
    margin: 0 auto;
    max-width: 420px;
    padding: 19px 29px 0;
    .form-signin-heading, .form-signin .checkbox {
      margin-bottom: 10px;
    }
    input[type="text"], input[type="password"], input[type="email"] {
      font-size: 16px;
      height: auto;
      margin-bottom: 15px;
      padding: 7px 9px;
    }
  }
  .sign_with{
      color:darken(#DDD, 30%);
      font-size: 20px;
      margin:20px auto;
    }
}
