// Place all the styles related to the deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$box_content_color : #F6FCF6;
$box-color: #fff;
$box_shadow: #5E3802;

@mixin shadow($color) {
  -moz-box-shadow:    0 0 10px $color;
  -webkit-box-shadow: 0 0 10px $color;
  box-shadow:         0 0 10px $color;
}

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin rounded-corners-bottom($radius) {
  border-radius: 0 0 $radius $radius;
  -moz-border-radius: 0 0 $radius $radius;
  -webkit-border-radius: 0 0 $radius $radius;
}

@mixin rounded-corners-top($radius) {
  border-radius: $radius $radius 0 0;
  -moz-border-radius: $radius $radius 0 0;
  -webkit-border-radius: $radius $radius 0 0;
}

.box{
  border: 1px solid darken($box_content_color, 60%);
  background-color: $box_color;
  margin-bottom: 2.12766%;
  @include shadow($box_shadow);
  @include rounded-corners(5px);
  padding: 5px;
  .box-header{
    padding-bottom: 5px;
    font-weight:bold;
  }
  .box-content{
    height:220px;
    overflow: hidden;
    padding: 5px;
    background-color: $box_content_color;
    border: 1px solid darken($box_content_color, 30%);
    border-bottom: none;
    @include rounded-corners-top(5px);
  }
  .box-footer{
    background-color: darken($box_content_color, 20%);
    border: 1px solid darken($box_content_color, 30%);
    border-top: none;
    height:30px;
    padding:10px 5px 5px;
    @include rounded-corners-bottom(5px);
  }
}
