.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %button.btn.btn-navbar.collapsed{:data=>{:target=>".nav-collapse", :toggle=>"collapse"}, :type=>"button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href=>"#"}Kupon
      .nav-collapse.collapse
        %p.navbar-text.pull-right
          -if user_signed_in?
            %span="Hello #{current_user.name}! "
            =link_to t(:sign_out), destroy_user_session_path
          -else
            =link_to t(:sign_in), new_user_session_path
            \/
            =link_to t(:sign_up), new_user_registration_path
        %ul.nav
          %li
            %a{:href=>"#"} Item 1
          %li
            %a{:href=>"#"} Item 2
          %li
            %a{:href=>"#"} Item 3
        
